<app-header></app-header>
<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50"></mat-progress-spinner>
</div>
<!--Projects Grid-->
<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center start"  [style.max-height.px] = "screenParam.height" class="mgntop10">
    <mat-card fxFlex="95" fxFlex.md="95" fxFlex.sm="100" fxFlex.xs="100"> 
        <mat-card-header>
            <div fxFlex="85" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <div fxFlex="80" fxLayout="row" fxLayoutGap="20px">
                    <mat-icon class="pointer" color="warn" matToolTip="Back" (click)="goBack()">backspace</mat-icon>
                    <div mat-card-avatar><mat-icon color="primary">assignment</mat-icon></div>
                    <mat-card-title style="margin-top:4px!important;">{{cardTitle}}</mat-card-title>
                </div>
                <!-- <div *ngIf="suggestionSummary!=undefined" fxFlex="70" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <mat-card-title></mat-card-title>
                    <mat-card-title>Total:</mat-card-title>
                    <mat-card-title><span class="clrblue">{{suggestionSummary.total}}</span></mat-card-title>
                    <mat-card-title>Active:</mat-card-title>
                    <mat-card-title><span class="clrwarning">{{suggestionSummary.active}}</span></mat-card-title>
                    <mat-card-title>Completed:</mat-card-title>
                    <mat-card-title><span class="clrgreen">{{suggestionSummary.completed}}</span></mat-card-title>
                    <mat-card-title>Beyond Due Date:</mat-card-title>
                    <mat-card-title><span class="clrred">{{suggestionSummary.beyondDue}}</span></mat-card-title>
                </div> -->
            </div>
            <div fxFlex="15" fxLayoutAlign="end">
                <button mat-mini-fab aria-label="Add Project" color="warn" matTooltip="Add a Project" (click)="openModuleAdd()">
                    <mat-icon >add_circle</mat-icon>
                </button>
            </div>
        </mat-card-header>
        <mat-card-content fxLayout="row wrap" fxLayoutAlign="center start">
            <mat-form-field fxFlex="80">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. Project name or description or attachment file name etc">
            </mat-form-field>
              
            <div cdkScrollable id="projects-grid" style="overflow: auto" [style.max-height.px]="screenParam.height-145" [style.width.px]="screenParam.width-40" class="mat-elevation-z8">
                <table mat-table #table [dataSource]="projectsColl" matSort [style.width.px]="tableWidth">
                    <ng-container matColumnDef="edit">
                        <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef>Edit </th>
                        <td style="padding:3px 10px!important" matTooltip="Edit id:{{element.project_id}}" mat-cell *matCellDef="let element"> 
                            <mat-icon color="primary" class="pointer" (click)="openModuleEdit(element)">edit</mat-icon>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                        <th style="padding:0px 10px!important" mat-header-cell *matHeaderCellDef>Del </th>
                        <td style="padding:3px 10px!important" matTooltip="Delete id:{{element.project_id}}" mat-cell *matCellDef="let element"> 
                            <mat-icon color="warn" class="pointer" (click)="deleteProject(element)">delete</mat-icon>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="history">
                        <th style="padding:0px 10px!important" mat-header-cell *matHeaderCellDef>History </th>
                        <td style="padding:3px 10px!important" matTooltip="History id:{{element.project_id}}" mat-cell *matCellDef="let element"> 
                            <mat-icon color="warn" class="pointer" (click)="openProjectHistory(element)">history</mat-icon>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="project_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding:0px 10px !important">Project Name</th>
                        <td mat-cell style="padding:3px 10px !important" matTooltip={{element.description}} *matCellDef="let element"><span [ngClass]="{'clrred':element.end_date_epoch<currentDate}">{{element.project_name}}</span></td>
                    </ng-container>
                    <ng-container matColumnDef="department_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding:0px 10px !important">Department</th>
                        <td mat-cell style="padding:3px 10px !important" *matCellDef="let element">{{element.department_name}}</td>
                    </ng-container>
                    <ng-container matColumnDef="project_manager_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding:0px 10px !important">Project Manager</th>
                        <td mat-cell style="padding:3px 10px !important" *matCellDef="let element">{{element.project_manager_name}}</td>
                    </ng-container>
                    <ng-container matColumnDef="project_type_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding:0px 10px !important">Project Type</th>
                        <td mat-cell style="padding:3px 10px !important" *matCellDef="let element">{{element.project_type_name}}</td>
                    </ng-container>
                    <ng-container matColumnDef="start_date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding:0px 10px !important">Start Date</th>
                        <td mat-cell style="padding:3px 10px !important" *matCellDef="let element"> {{element.start_date | date :'dd-MMM-yy'}}</td>
                        <td mat-footer-cell *matFooterCellDef  style="padding:0 5px !important"></td>
                    </ng-container> 
                    <ng-container matColumnDef="end_date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding:0px 10px !important">End Date</th>
                        <td mat-cell style="padding:3px 10px !important" *matCellDef="let element"> {{element.end_date | date :'dd-MMM-yy'}}</td>
                        <td mat-footer-cell *matFooterCellDef  style="padding:0 5px !important"></td>
                    </ng-container> 
                    <ng-container matColumnDef="completion_percentage">
                        <th style="padding:3px 10px!important" mat-header-cell *matHeaderCellDef style="padding:0px 10px !important">Status</th>
                        <td mat-cell style="padding:3px 10px !important" matTooltip="Completed Percentage {{element.completion_percentage}}" *matCellDef="let element" class="pointer" (click)="openUpdateProjectStatus(element)">
                            <div class="font_12">{{element.completion_percentage}}%</div>
                            <mat-progress-bar mode="determinate" value="{{element.completion_percentage}}"></mat-progress-bar>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="attachment">
                        <th style="padding:3px 10px!important" mat-header-cell *matHeaderCellDef></th>
                        <td style="padding:3px 10px!important" mat-cell *matCellDef="let element">
                            <mat-icon *ngIf="element.attachment>0" color="accent" class="pointer" matBadge="{{element.attachment}}" matBadgeColor="accent" (click)="openModuleEdit(element)">attach_file</mat-icon>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="created_on">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding:0px 10px !important">Created On</th>
                        <td mat-cell style="padding:3px 10px !important" *matCellDef="let element"> {{element.created_on | date :'dd-MMM-yy'}}</td>
                    </ng-container> 
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                    <tr mat-row class="tr-rowalt-light" style="height:58px" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>  
            </div>
        </mat-card-content>
    </mat-card>
</div>
