<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon color="primary">{{titleIcon}}</mat-icon>    
    <mat-label class="mgnleft10">{{title}}</mat-label>
    <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>
<form  [formGroup]="form" (submit)="resetPassword()">
    <div mat-dialog-content>
        <div fxLayout="column" fxLayoutAlign="start strech" fxLayoutGap="10px">
            <mat-form-field >
                <input matInput placeholder="Password" formControlName="Password" [type]="hide ? 'password' : 'text'" name="Password" id="Password" required>
                <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </span>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Confirm Password" formControlName="Confirm" [type]="hide ? 'password' : 'text'" name="Confirm" id="Confirm" required>
                <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </span>
            </mat-form-field>
        </div>
        <mat-label fxLayout="row" class="clrred">{{getErrorMessage(form,'form')}}</mat-label>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="mgnbtm20">
        <button type="button" mat-raised-button color="accent" (click)="onClose()">Cancel</button>
        <button *ngIf="!isLoading && form.valid" type="submit" color="primary" mat-raised-button>Save</button>
    </div>
</form>
