<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <mat-icon color="primary">{{titleIcon}}</mat-icon>    
    <mat-label class="mgnleft10">{{title}}</mat-label>
    <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>
<form  [formGroup]="form" (submit)="addUpdateContact()">
    <div mat-dialog-content>
        <div fxFlex="45">
            <div fxLayout="column" fxLayoutAlign="start stretch">
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="Name" name="Name" id="Name" required>
                    <mat-error *ngIf="form.get('Name').invalid">{{getErrorMessage(form.get('Name'),'Name')}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="Notes" formControlName="Notes" name="Notes" id="Notes" required></textarea>
                    <mat-error *ngIf="form.get('Notes').invalid">{{getErrorMessage(form.get('Notes'),'Notes')}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Department" formControlName="Ministry" name="Ministry" id="Ministry" class="capitalize" required>
                        <cdk-virtual-scroll-viewport itemSize="20" class="dropdown-viewport">
                            <mat-option class="capitalize" *cdkVirtualFor="let ele of ministryColl" matTooltip="{{ele.list_name}}" class="dropdown-item capitalize" [value]="ele">{{ele.list_name}}</mat-option>
                        </cdk-virtual-scroll-viewport>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div fxFlex="5"></div>
        <div fxFlex="45">
            <div class="aligncenter font_16" >Attachment</div>
            <div><input type="file" id="file" ng2FileSelect [uploader]="uploader" multiple style='color: transparent; border:none; width:100px;' (onFileSelected)="onFileSelected($event)">
            {{fileList.length}} files selected</div>
            <mat-list>
                <mat-list-item *ngFor="let file of fileList; let i = index" style="height:28px;font-size: 12px;">
                  <mat-icon matListIcon color="warn" class="pointer" matTooltip="Remove Attachment" (click)="removeFile(i)">remove_circle</mat-icon>
                  <mat-icon *ngIf="data.id != undefined" matListIcon class="pointer" (click)="downloadFile(i)" matTooltip="Download {{file?.name||file?.originalName}}" color="primary">get_app</mat-icon>
                  <h6 matLine matTooltip="{{file?.name||file?.originalName}} ({{file?.size/1024/1024 | number:'.2' }} MB)">{{file?.name||file?.originalName}} ({{file?.size/1024/1024 | number:'.2' }} MB)</h6>
                </mat-list-item>
            </mat-list>
        <!-- <mat-form-field>
                <mat-chip-list #chipList aria-label="File uploaded">
                <mat-chip *ngFor="let file of fileList; let i = index" (removed)="removeFile(i)">
                  {{file?.name||file?.originalName}} ({{file?.size/1024/1024 | number:'.2' }} MB)
                  <mat-icon matChipRemove>cancel</mat-icon>
                  <mat-icon *ngIf="data.id != undefined" class="pointer" (click)="downloadFile(i)" color="primary">get_app</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </mat-form-field> -->
        </div>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <button type="button" color="accent" mat-raised-button (click)="onClose()">Cancel</button>
        <button *ngIf="!isLoading && form.valid" type="submit" color="primary" mat-raised-button>Save</button>
    </div>
</form>
