<div>
    <form [formGroup]="form" [style.height.px]="height" fxLayout="row" [fxLayoutAlign]="formLayoutAlign">
        <mat-card fxFlex="30" fxFlex.md="40" fxFlex.sm="60" fxFlex.xs="90"> 
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" >
                <img src="../../assets/image/adqvest_small.png" style="width:40px; height:auto"/>
                <div class="font_16">Forgot Password</div>
            </div>
            <mat-card-content style="margin-top:10px;width:100%">
                <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-form-field [style.width.%]="colWidth">
                        <input matInput type="email" placeholder="Email" formControlName="email" name="email" id="email" readonly="readonly" onfocus="javascript: this.removeAttribute('readonly')" required>
                        <mat-error *ngIf="form.get('email').invalid" style="padding-top:10px">{{getErrorMessage(form.get('email'),'email')}}</mat-error>
                    </mat-form-field>
                    <button mat-raised-button style="width: 40%;" class="btnbgclr fntwt600" (click)="getVerifyCode()">Generate PIN</button>
                    <div *ngIf="!checkEmail" class="clrred">Email does not exist</div>
                    <div *ngIf="isOTPSent" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
                        <mat-form-field  [style.width.%]="1">
                          <input matInput formControlName="code1" name="code" id="code" type="text" inputmode="numeric" maxlength="1" autocomplete="one-time-code" required onkeyup="this.value=this.value.replace(/[^\d]+/,'')" #code1>
                        </mat-form-field>
                        <mat-form-field [style.width.%]="1">
                            <input matInput formControlName="code2" name="code" id="code" type="text" inputmode="numeric" maxlength="1" autocomplete="one-time-code" required onkeyup="this.value=this.value.replace(/[^\d]+/,'')" #code2>
                        </mat-form-field>
                        <mat-form-field [style.width.%]="1">
                            <input matInput formControlName="code3" name="code" id="code" type="text" inputmode="numeric" maxlength="1" autocomplete="one-time-code" required onkeyup="this.value=this.value.replace(/[^\d]+/,'')" #code3>
                        </mat-form-field>
                        <mat-form-field [style.width.%]="1">
                            <input matInput formControlName="code4" name="code" id="code" type="text" inputmode="numeric" maxlength="1" autocomplete="one-time-code" required onkeyup="this.value=this.value.replace(/[^\d]+/,'')" #code4>
                        </mat-form-field>
                    </div>
                    <mat-form-field *ngIf="isVerified" [style.width.%]="colWidth">
                        <input  matInput placeholder="Password" formControlName="password" [type]="phide ? 'password' : 'text'" name="password" id="password" required>
                        <button mat-icon-button matSuffix (click)="phide = !phide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="phide">
                            <mat-icon>{{phide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field *ngIf="isVerified" [style.width.%]="colWidth">
                        <input  matInput placeholder="Confirm Password" formControlName="confirm" [type]="cphide ? 'password' : 'text'" name="confirm" id="confirm" required>
                        <button mat-icon-button matSuffix (click)="cphide = !cphide" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="cphide">
                        <mat-icon>{{cphide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-label class="clrred" [fxShow] = "isVerified">{{getErrorMessage(form,'form')}}</mat-label>
                </div>
            </mat-card-content>
            <mat-card-actions >
                <div fxLayout="column" fxLayoutAlign="center center">
                    <button *ngIf="isOTPSent && !isVerified" id="btnReqPass" mat-raised-button style="width:43%" class="fntwt600 btnbgclr" (click)="verifyCode()">Verify PIN</button>
                    <button [fxShow]="isVerified" id="btnReqPass" mat-raised-button style="width:43%" class="fntwt600 btnbgclr" (click)="changeForgottenPassword()">Change Password</button>
                    <div>Already have an account?<button mat-button class="btnclrprimary" [routerLink]="['/login']">Sign in</button></div>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
