<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" >
	<form (submit)="login()" [style.height.px]="height" fxLayout="row" fxLayoutAlign="center center">
		<mat-card class="mat-elevation-z8" style="padding:48px"> 
			<div fxLayout="row wrap" fxLayoutAlign="start center">
				<img src="../../assets/image/adqvest_small.png" style="width:60px; height:auto"/>
				<div class="fntrc20 mgnleft10">Log in to your account</div>
			</div>
			<div fxLayout="row" fxLayoutAlign="start center" class="font_14 mgntop10">New user? <span style="color: #006699; text-decoration: underline; margin-left: 10px; cursor: pointer;" (click)="signup()"> Sign up for 7 days trial</span>
			</div>
			<mat-card-content class="mcctop32px" >
				<div></div>
				<div fxLayout="column">
					<label>Email Address</label>
					<input placeholder="Enter your email address" [formControl]="email" class="inputbox" [readonly]="readonly" (focus)="readonly=false" required>
					<mat-error *ngIf="email.invalid && email.dirty">{{getErrorMessage()}}</mat-error>
				</div>
				<div fxLayout="column">
					<label>Password</label>
					<input placeholder="Enter your password" type="password" [formControl]="password" class="inputbox" required>
				</div>
				<div class="mgntop10"> 
					<label class="pointer" class="font_12" style="color:#006699" [routerLink]="['/forgotpassword']">Forgot your password?</label>
				</div>
			</mat-card-content>
			<mat-card-actions>
				<div fxLayout="row" fxLayoutAlign="end center" >
					<button class="btnbgclr" id="btnlogin" [disabled]="disableLoginBtn || email.invalid || password.invalid" mat-raised-button (click)="login()"><span class="fntwt600">SIGN IN</span></button>
				</div>
			</mat-card-actions>
		</mat-card>
	</form>
</div>

<!--style="background-image: linear-gradient(rgb(211,234,250), rgb(187,228,248));"-->