<mat-toolbar fxLayout="row" fxLayoutAlign="start center" class="mat-elevation-z6" fxLayoutGap="30px">
    <div fxFlex="70"fxFlex.lt-sm="60" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <img class="apd-logo" src={{cusLogo}} />
        <div fxHide.lt-lg="true" class="apd-logo-text capitalize">{{cusName}}</div>
        <!-- img fxHide.lt-sm="true"class="apd-logo1" src={{cusLogo1}} />
        <div fxHide.lt-lg="true" class="apd-logo-text capitalize">Workflow Tracking</div -->
    </div>
    <div fxFlex="8" fxFlex.lt-sm="13">
        <button mat-raised-button [matMenuTriggerFor]="menu"><mat-icon class="mgnrgt10" color="accent">menu</mat-icon>Menu</button>
        <mat-menu #menu="matMenu">
            <button *ngIf="loginUser.user_id==1" mat-menu-item [matMenuTriggerFor]="masters">
                <mat-icon color="accent">extension</mat-icon>
                <span>Manage Masters</span>
            </button>
            <button mat-menu-item (click)="navigate('home')">
                <mat-icon color="primary">opacity</mat-icon>
                <span>Key Results</span>
            </button>
            <button mat-menu-item (click)="navigate('reports')">
                <mat-icon color="accent">library_books</mat-icon>
                <span>Reports</span>
            </button>
        </mat-menu>
        <mat-menu #masters="matMenu">
            <button *ngIf="loginUser.user_id==1" mat-menu-item (click)="navigate('projects')">
                <mat-icon color="primary">apps</mat-icon>
                <span>Projects</span>
            </button>
            <button *ngIf="loginUser.user_id==1" mat-menu-item (click)="navigate('user')">
                <mat-icon color="primary">person</mat-icon>
                <span>User Master</span>
            </button>
            <button *ngIf="loginUser.user_id==1" mat-menu-item (click)="navigate('teams')">
                <mat-icon color="primary">people</mat-icon>
                <span>Teams</span>
            </button>
            <button *ngIf="loginUser.user_id==1" mat-menu-item (click)="navigate('list')">
                <mat-icon color="accent">list</mat-icon>
                <span>List Masters</span>
            </button>
        </mat-menu>
    </div>
    <div fxFlex="20"  fxFlex.lt-sm="25" fxLayoutGap="10px" fxLayoutAlign="end center">
        <button fxHide.lt-md="true" mat-button class="capitalize">Welcome {{loginUser.name}}</button>
        <button mat-icon-button [matMenuTriggerFor]="personnalMenu" color="primary" class="mat-elevation-z4 capitalize" matTooltip="{{loginUser.name}}" >
            <mat-icon>person</mat-icon>
        </button>
        <mat-menu #personnalMenu="matMenu">
            <button mat-menu-item (click)="navigate('change-password')" >
                <mat-icon color="primary">more_horiz</mat-icon>
                <span>Change Password</span>
            </button>
            <button mat-menu-item matTooltip="Page under construction" ><!--(click)="navigate('settings')" -->
                <mat-icon color="primary">settings</mat-icon>
                <span>Settings</span>
            </button>
        </mat-menu>
        <button id="signout" mat-icon-button color="warn" class="mat-elevation-z4" (click)="logout()">
            <mat-icon matTooltip="Signout" >exit_to_app</mat-icon>
        </button>
    </div>
</mat-toolbar>
