<app-login-header></app-login-header>
<div>
    <form [formGroup]="form" [style.height.px]="height-64" fxLayout="row" [fxLayoutAlign]="formLayoutAlign">
        <mat-card fxFlex="30" fxFlex.md="40" fxFlex.sm="60" fxFlex.xs="90"> 
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" >
                <img src="../../assets/image/adqvest_small.png" style="width:40px; height:auto"/>
                <div class="fntrc20">Change Password</div>
            </div>
            <mat-card-content class="mcctop32px">
                <div></div>
                <div fxLayout="column">
					<label>Old Password</label>
					<input placeholder="Enter your old password" type="password" formControlName="oldpassword" name="oldpassword" id="oldpassword" class="inputbox" required>
				</div>
                <div fxLayout="column">
					<label>New Password</label>
					<input placeholder="Enter your new password" type="password" formControlName="password" name="password" id="password" class="inputbox" required>
				</div>
                <div fxLayout="column">
					<label>Confirm Password</label>
					<input placeholder="Confirm password" type="password" formControlName="confirm" name="confirm" id="confirm" class="inputbox" required>
				</div>
            </mat-card-content>
            <mat-card-actions>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <div fxLayout="row " fxLayoutAlign="space-around center" fxLayoutGap="10px">
                        <button id="btnChPass" mat-raised-button  class="fntwt600 btnbgclr" (click)="changePassword()">Change Password</button>
                        <button id="close" mat-raised-button style="width:119px" class="fntwt600" (click)="onClose()">Cancel</button>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
