<app-login-header></app-login-header>
<mat-card [style.height.px]="height-100" style="overflow-y: auto;">
	<mat-card-content fxLayoutAlign="start start">
		<mat-sidenav-container fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" [style.height.px]="height-100" hasBackdrop='false' style="overflow-y: auto;">
			<mat-sidenav #sidenav mode="side" [opened]="isOpen" style="width:210px">
				<mat-list style="width:98%">
					<mat-list-item class="pointer" [ngClass]="{'menuitemselected':selList=='up','menuitem':selList!='up'}" (click)="selList='up';">
						<mat-icon mat-list-icon color="primary">dns</mat-icon>
						<div mat-line style="font-size: 14px;">Lookup</div>
					</mat-list-item>
					<mat-list-item class="pointer" [ngClass]="{'menuitemselected':selList=='qb','menuitem':selList!='qb'}" (click)="selList='qb'; qryBuilder() ">
						<mat-icon mat-list-icon color="primary">query_stats</mat-icon>
						<div mat-line style="font-size: 14px;">Widgets</div>
					</mat-list-item>
					<hr/>
					<!-- <div *ngIf="selList=='qb'" class="mgntop20">
						<div class="fntrc14">Available Tables</div>
						<mat-form-field>
							<mat-select placeholder="Table" [(ngModel)]="tableSel"  name="tableSel" class="capitalize" (selectionChange)="getColDef()">
								<mat-option *ngFor="let table of tableColl" [value]="table.name" matTooltip="{{table.name}}">
									<span class="font_14">{{table.name}}</span>
								</mat-option>
							</mat-select>
						</mat-form-field>
						<div class="fntrc14 mgntop10">Column(type)</div>
						<div *ngFor="let col of colColl" style="padding:2px 0px">{{col.name}} ({{col.type}})</div>
					</div> -->
				</mat-list>
			</mat-sidenav>
			<mat-sidenav-content style="background-color: white;">
				<router-outlet></router-outlet>
				<!-- <mat-card [style.height.px]="height-135" class="mat-elevation-z0">
					<mat-card-content>
						<div>Query</div>
						<textarea id="idQuery" placeholder="Type your query here" style="width:100%; height:150px; outline: none;" [(ngModel)]="query" (keyup)="validateQuery()"></textarea>
						<mat-error *ngIf="qryError" class="font_12">{{qryError}}</mat-error>
						<div *ngIf="!qryError && query!=undefined" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
							<button class="btnbgclr" mat-raised-button (click)="execQry()">Exec</button>
							<mat-icon *ngIf="tblResult?.data.length>0" color="primary" (click)="openConfigColumn()" class="pointer" matTooltip="Configure Columns">settings</mat-icon>
							<button *ngIf="tblResult?.data.length>0" color="primary" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Open Charts">
								<mat-icon>auto_graph</mat-icon>
							</button>
							<mat-menu #menu="matMenu">
								<button mat-menu-item (click)="chartType='table';">
									<mat-icon>table_chart</mat-icon>
									<span>Table</span>
								</button>
								<button mat-menu-item (click)="chartType='line'; drawChart(tblResult.data)">
									<mat-icon>show_chart</mat-icon>
									<span>Line</span>
								</button>
								<button mat-menu-item (click)="chartType='vbar'; drawChart(tblResult.data)">
									<mat-icon>bar_chart</mat-icon>
									<span>Bar Chart</span>
								</button>
								<button mat-menu-item (click)="chartType='area'; drawChart(tblResult.data)">
									<mat-icon>area_chart</mat-icon>
									<span>Area Chart</span>
								</button>
							</mat-menu>
						</div>
						<div *ngIf="chartType=='table' && tblResult.data.length>0" style="overflow-y: auto;  margin-top:18px; height: 100%;">
							<table mat-table #table [dataSource]="tblResult" matSort style="border:1px lightgray solid; border-radius: 10px; width:100%">
								<div *ngFor="let col of dispCols">
									<ng-container matColumnDef="{{col}}">
										<th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header >{{col.replace('_',' ')}}</th>
										<td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">
											<span *ngIf="columnAndType[col].col_type=='datetime'">{{element[col]|date:'medium'}}</span>
											<span *ngIf="columnAndType[col].col_type!='datetime'">{{element[col]}}</span>
										</td>
									</ng-container>
								</div>
								<tr mat-header-row *matHeaderRowDef="dispCols; sticky: true;" class="tblrowht"></tr>
								<tr mat-row class="tr-rowalt-light" *matRowDef="let row; columns: dispCols;"></tr>
							</table>
						</div>
						<section *ngIf="chartType!='table'">
                            <div id="{{id}}" appD3chartsv3 [chartdata]="chartToDisplay" [width]="chartWidth-30" [height]="chartHt-140" [chartType]="chartToDisplay['root_chart_type']" [editMode]=false (onChartOutput)="fromD3chart($event)" [changeData] = "svgData" [style.width.px]="chartWidth-30" [style.height.px]="chartHt-140">
                            </div>
                        </section>
					</mat-card-content>
					<mat-card-actions>
					</mat-card-actions>
				</mat-card> -->
			</mat-sidenav-content>
		  </mat-sidenav-container>
	</mat-card-content>
</mat-card>